---
# Cisco IOS Switch Configuration Playbook
# This playbook manages IOS switch configurations

- name: Configure Cisco IOS Switches
  hosts: ios
  gather_facts: no
  connection: network_cli
  
  tasks:
    - name: Display switch information
      cisco.ios.ios_command:
        commands:
          - show version
          - show inventory
          - show interfaces status
      register: switch_info
    
    - name: Print switch information
      debug:
        var: switch_info.stdout_lines
    
    - name: Configure NTP servers
      cisco.ios.ios_config:
        lines:
          - ntp server {{ item }}
        loop: "{{ ntp_servers }}"
        save_when: modified
    
    - name: Configure syslog servers
      cisco.ios.ios_config:
        lines:
          - logging {{ item }}
        loop: "{{ syslog_servers }}"
        save_when: modified
    
    - name: Save running configuration
      cisco.ios.ios_config:
        save_when: always

