---
# Cisco NX-OS Switch Configuration Playbook
# This playbook manages NX-OS switch configurations

- name: Configure Cisco NX-OS Switches
  hosts: nxos
  gather_facts: no
  connection: network_cli
  
  tasks:
    - name: Display switch information
      cisco.nxos.nxos_command:
        commands:
          - show version
          - show inventory
          - show interface brief
      register: switch_info
    
    - name: Print switch information
      debug:
        var: switch_info.stdout_lines
    
    - name: Configure NTP servers
      cisco.nxos.nxos_config:
        lines:
          - ntp server {{ item }}
        loop: "{{ ntp_servers }}"
        save_when: modified
    
    - name: Configure syslog servers
      cisco.nxos.nxos_config:
        lines:
          - logging server {{ item }}
        loop: "{{ syslog_servers }}"
        save_when: modified
    
    - name: Save running configuration
      cisco.nxos.nxos_config:
        save_when: always

