---
# Connectivity Testing Playbook
# This playbook tests connectivity to all devices

- name: Test Connectivity to All Devices
  hosts: all
  gather_facts: no
  connection: network_cli
  
  tasks:
    - name: Test ping connectivity
      cisco.ios.ios_command:
        commands:
          - ping 8.8.8.8 repeat 4
      register: ping_result
      ignore_errors: yes
      when: ansible_network_os == 'ios' or ansible_network_os == 'iosxe'
    
    - name: Test ping connectivity (NX-OS)
      cisco.nxos.nxos_command:
        commands:
          - ping 8.8.8.8 count 4
      register: ping_result
      ignore_errors: yes
      when: ansible_network_os == 'nxos'
    
    - name: Test ping connectivity (ASA)
      cisco.asa.asa_command:
        commands:
          - ping 8.8.8.8
      register: ping_result
      ignore_errors: yes
      when: ansible_network_os == 'asa'
    
    - name: Display ping results
      debug:
        var: ping_result.stdout_lines

