---
# Cisco IOS-XE Router Configuration Playbook
# This playbook manages IOS-XE router configurations

- name: Configure Cisco IOS-XE Routers
  hosts: iosxe
  gather_facts: no
  connection: network_cli
  
  tasks:
    - name: Display router information
      cisco.ios.ios_command:
        commands:
          - show version
          - show ip interface brief
          - show ip route
      register: router_info
    
    - name: Print router information
      debug:
        var: router_info.stdout_lines
    
    - name: Configure NTP servers
      cisco.ios.ios_config:
        lines:
          - ntp server {{ item }}
        loop: "{{ ntp_servers }}"
        save_when: modified
    
    - name: Configure syslog servers
      cisco.ios.ios_config:
        lines:
          - logging {{ item }}
        loop: "{{ syslog_servers }}"
        save_when: modified
    
    - name: Save running configuration
      cisco.ios.ios_config:
        save_when: always

